<div class="product">
    <h2>Explore Our Products </h2>
    <div class="pro">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey: 'name'">
            <!-- <ng-container > -->
            <div class="card-deck pro">
                <div class="card">
                    <img src="{{item.image}}" class="card-img-top" alt="{{item.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.price}}$</p>
                        <button class="btn btn-primary" (click)="addtoCart(item)">Add to cart</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>